In [1]:
import pandas as pd

In [6]:
df_news = pd.read_csv("data/2008_2017_tej_bought.csv",encoding="utf-8")
df_news.head()

       公司碼          日期     序碼                                       說明    出事原因
0  2371 大同  2017/12/28  01001                           ＊發生其他負面事件,股價暴跌  P 股價暴跌
1  2371 大同  2017/12/28  01A01                         1.大同增資案惹議，市場派提告。  P 股價暴跌
2  2371 大同  2017/12/28  01A02    2.大同因現金增資消息曝光、股價重挫，蒸發45億市值，已經損及股東權益，市  P 股價暴跌
3  2371 大同  2017/12/28  01A03  場派股東106/12/28在台北地檢署告發。大同再重申，董事會決議是在額定股本  P 股價暴跌
4  2371 大同  2017/12/28  01A04      內對原股東的現金增資，從未涉入股市，對於股價是否遭人為操縱，公司無從得  P 股價暴跌

In [7]:
df_news.shape

(13821, 5)

In [8]:
df_news['公司碼2'] = df_news['公司碼'].shift(periods=1) # 公司碼往下移動一格
df_news.head()

,公司碼,日期,序碼,說明,出事原因,公司碼2
0,2371 大同,2017/12/28,01001,"＊發生其他負面事件,股價暴跌",P 股價暴跌,NaN
1,2371 大同,2017/12/28,01A01,1.大同增資案惹議，市場派提告。,P 股價暴跌,2371 大同
2,2371 大同,2017/12/28,01A02,2.大同因現金增資消息曝光、股價重挫，蒸發45億市值，已經損及股東權益，市,P 股價暴跌,2371 大同
3,2371 大同,2017/12/28,01A03,場派股東106/12/28在台北地檢署告發。大同再重申，董事會決議是在額定股本,P 股價暴跌,2371 大同
4,2371 大同,2017/12/28,01A04,內對原股東的現金增資，從未涉入股市，對於股價是否遭人為操縱，公司無從得,P 股價暴跌,2371 大同

In [9]:
df_same = df_news[df_news['公司碼2'] != df_news['公司碼']]   # 公司碼上下兩列不相等的
df_same.head()

           公司碼          日期     序碼                說明      出事原因     公司碼2
0      2371 大同  2017/12/28  01001    ＊發生其他負面事件,股價暴跌    P 股價暴跌      NaN
12     4746 台耀  2017/12/28  01001      ＊發生其他負面事件,其他      U 其他  2371 大同
15     2474 可成  2017/12/27  01001  ＊發生重大財務事件,景氣不佳停工  T 景氣不佳停工  4746 台耀
19     2062 橋椿  2017/12/27  01001  ＊發生重大財務事件,景氣不佳停工  T 景氣不佳停工  2474 可成
31  4141 龍燈-KY  2017/12/27  01001  ＊發生重大財務事件,景氣不佳停工  T 景氣不佳停工  2062 橋椿

In [10]:
df_same.shape #總共2246起事件

(2246, 6)

In [11]:
df_news["出事原因"].unique()  # 列出欄位28種特殊的值

array(['P 股價暴跌', 'U 其他', 'T 景氣不佳停工', '9 環保與安全', 'J 暫停交易', 'V 價值減損',
       'Q 內控不當', '0 其他違法事件', '7 訴訟案件', '8 資訊公告', 'E 繼續經營疑慮', 'G 紓困財危',
       '3 勞資關係差', 'F 掏空挪用', 'M 銀行緊縮', 'H 重整', '6 內線交易', 'B 董監跳票',
       'O 大虧, 淨值低於5', 'N 全額下市', '1 紓困-非財危', 'Z 淨值為負', 'D 倒閉破產', '4 增資退補件',
       'W 撤銷公發', '5 撤上市櫃(含興櫃)', 'L 謠傳危機', 'C 跳票擠兌'], dtype=object)